---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  modernize-*,
  performance-*,
  portability-*,
  readability-*

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: file
